@font-face {
	font-family: Helvetica Neue;
	src: url(../fonts/HelveticaNeue-UltraLigCond.otf);
}

.wrap {
	width: 960px;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
	box-shadow: 1px 3px 10px rgba(0,0,0,.3);
	border-radius: 3px;
}

h1 {
	font: 100px Helvetica Neue, 'Droid sans', arial, sans-serif;
	color: #B8B2D0;
	margin: 10px 0;
}

input[type='text'] {
	width: 700px;
	height: 50px;
	display: block;
	margin: 10px auto;
	color: #767676;
	border: 0;
	border-bottom: 1px solid rgba(204,204,204,.4);
	outline: none;
	font: 30px 'Open sans', 'Droid sans', arial, sans-serif;
}

input[type='checkbox'] {
  float: left;
  clear: both;
  width: 40px;
  height: 25px;
  outline: none;
  margin: 0 15px 0 5px;
  background: #fff;
  opacity: .2;
}

button {
	border-radius: 15px;
	border: 0;
	color: #fff;
	margin: 0 5px;
	outline: none;
	opacity: .7;
	font: 24px 'Open sans', 'Droid sans', arial, sans-serif;
}

button:hover {
	opacity: 1;
}

button#delete,
button#edit,
button#add,
button#hide,
button#show {
	background: #fff;
	font-size: 24px;
}

button#add,
button#hide,
button#show {
	font-size: 30px;
	color: #ccc;
}

button#add::after {
	content: '+';
	color: #007B00;
}

button#hide::after {
  content: '\f06e'; 
  font-family: FontAwesome;
  color: #ccc;
}

button#show::after {
  content: '\f070';
  font-family: FontAwesome;
  color: #ccc; 
}

button#delete::after {
  content: '×';
  color: #C00303;
}

button#edit::after {
  content: '✎';
  color: #ccc;
}

span {
	font-size: 20px;
	color: #767676;
	width: 550px;
	display: block;
	text-align: left;
	float: left;
	word-wrap: break-word;
	font: 20px 'Open sans', 'Droid sans', arial, sans-serif;
}

ul {
	padding: 0;
}

ul li {
	width: 76%;
	margin-bottom: 15px;
	padding-bottom: 5px;
	list-style: none;
	display: inline-block;
	border-bottom: 1px solid rgba(204,204,204,.4);
}

/* disappeare placeholder */

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/* color for placeholder */

::-webkit-input-placeholder {color:#ccc;}
::-moz-placeholder          {color:#ccc;}/* Firefox 19+ */
:-moz-placeholder           {color:#ccc;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ccc;}

.completed {
	text-decoration: line-through;;
	color: #ccc;
}
